<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Какво е “Свободни сигнали”?</key>
	<string>В “Свободни сигнали” ще намерите всички сигнали, които са за вашия район или от вашата компетенция</string>
	<key>Как да обработя сигнал?</key>
	<string>На всички сигнали в “Свободни сигнали” има бутон “+”, с който веднага можете да поемете сигнал и да започнете обработка. Ако не сте сигурни, кликнете на сигнала и разгледайте информацията за него. Ако е във вашата компетенция или район, натиснете бутона “Поеми” и ще можете да променяте статуса на сигнала.</string>
	<key>Как да препратя сигнала на друга отговорна страна?</key>
	<string>Чрез бутона “Препрати” можете да препратите сигнала до друга отговорна страна или колега.</string>
	<key>Как да се свържа с екипа на “Гражданите”?</key>
	<string>Ако имате някакви въпроси относно мобилното приложение или уеб версията &quot;Гражданите&quot;, моля, свържете се с нас на contacts@grajdanite.bg, https://www.facebook.com/grajdanite/, https://twitter.com/grajdanite?lang=en или на номер 0884 415 998</string>
	<key>Какви ранговете за активност има в приложението?</key>
	<string>Колкото повече преглеждания на вашите сигнали има, толкова повече точки трупате. Полицай: 500 точки, Старши полицай: 1 000 точки, Главен полицай: 2 000 точки, Инспектор: 3 000 точки, Старши инспектор: 4 000 точки, Главен инспектор: 5 000 точки, Комисар: 10 000 точки Главен секретар: 15 000 точки</string>
	<key>Какво да направя при забравена забравена парола?</key>
	<string>При забравена парола можете да въведете имейл адреса, с който сте се регистрирали, и ще Ви изпратим имейл с информация за смяната на паролата.</string>
	<key>Приложението само за София ли е?</key>
	<string>Приложението е за цяла България! Работим с Пътна полиция за цяла България, като в град София процедурата е по-опростена. За градски проблеми София е първият град, в който отговорни страни започнаха да обработват сигнали директно в “Гражданите”. Колкото повече сигнали има от други градове, толкова по-голяма е вероятността да започнат да се включат.</string>
	<key> Kак се премахват снимките за пътни нарушения от галерията?</key>
	<string>След като сте изпратили извинение и е било прието, снимката се скрива автоматично. Ако извинението е искрено, но няма реакция до 48 часа след изпращането му, пишете ни.</string>
	<key>Kакъв е процесът за изоставени автомобили?</key>
	<string>По закон “излязъл от употреба автомобил” се води този автомобил, който отговаря поне на едно от долните три условия: 
1. Има стари номера 
2. Изтекъл технически преглед от повече от две години 
3. Няма стикер за ГТП 
Ако видите автомобил, отговарящ поне на едно от горните условия, който е паркиран на обществено място и по който липсват всякакви стикери или маркировки на общината, можете да го снимате и качите в платформата “Гражданите”. Трябва да изберете вид на нарушението „Изоставен автомобил“ и да напишете точния адрес на местоположението. Цялата процедура от подаване на сигнал до премахване на излязъл от употреба автомобил е около 3 месеца, но реално опитът ни показва, че при добре свършена работа от страна на общината отнема - до 6-7 месеца в София. Във Варна репатрират автомобилите на наказателен паркинг до 2-3 седмици след подаване на сигнал, където престояват 3 месеца.</string>
	<key>Как да коментирам даден сигнал или да дам допълнителна информация?</key>
	<string>Ако сигналът е качен от Вас, тогава можете да коментирате и в статуса на сигнала. За да коментирате, отидете в секция за коментари.</string>
	<key>Какво показват статусите на сигнала?</key>
	<string>Статусите показват процеса на обработка на сигналите. “Очаква отговорна страна” - сигналът е прикрепен към отговорна страна, но не е поет. “Обработва се” - сигналът е поет от отговорна страна. “Решен” - сигналът е приключен. Един сигнал може да бъде приключен от отговорната страна, която го е поела, но и от подателя на сигнала.</string>
	<key>Как да споделям сигнал в социалните мрежи?</key>
	<string>Споделете сигнал във Facebook чрез бутона “Сподели” и в Twitter чрез “Туит”. Също така можете да копирате линк чрез “Копирай линк”.</string>
	<key>Как да подкрепя сигнал?</key>
	<string>Използвайте бутона “Подкрепи”. Колкото повече подкрепили има даден сигнал, толкова повече приоритет може да му се даде от съответната отговорна страна. След като подкрепите сигнал, ще получавате известия за него.</string>
	<key>Как да предложа отговорна страна за даден проблем?</key>
	<string>Чрез бутона “#КОЙ?” можете да предложите дадена институция, която да бъде отговорна за решаване на проблем. Така можете да изпратите и покана за присъединяване към “Гражданите” на съответната институция.</string>
	<key>Как да докладвам неправомерен сигнал?</key>
	<string>Можете да докладвате неправомерен сигнал чрез опцията “Докладвате неправомерен сигнал”. За целта е необходимо да въведете и кратък коментар.</string>
	<key>Какво става, ако е подаден сигнал до КАТ, но има изпратено и прието извинение?</key>
	<string>Извинението и изпращането до КАТ не са автоматично свързани. Голяма част от хората, подали сигнал до КАТ, пишат до екипа ни да се спре сигналът след подадено извинение.</string>
	<key>Kакво представлява бутонът &quot;Извини се&quot;?</key>
	<string>Всеки прави грешки. Бутонът “Извини се” дава възможност на нарушителите да се извинят на човека, който ги е заснел и качил в платформата. По този начин стимулираме диалога между участниците в движението. Ако извинението се приеме, снимката се скрива от платформата. Ако извинението не бъде прието, снимката остава. Ако сте пратили извинение, но няма никаква реакция до 48 часа, пишете ни.</string>
	<key>Какво съдържа “Моят профил”</key>
	<string>В “Моят профил” ще намерите: Моите проблеми - всички сигнали, които сте пуснали и подкрепили. Радар - за проблеми, които се случват около избран адрес, и по регистрационни номера, които си вписал. Известия - при нови сигнали около теб, при заснета твоя кола в нарушение, при обработка на статуса на Ваш/подкрепен сигнал. Профил - с данните и настройките Ви.</string>
	<key>Има ли смисъл да пусна сигнал за проблем, за който няма категория в платформата или отговорна страна, която да го поеме?</key>
	<string>Да! Можете да пускате сигнали за проблеми от всякакво естество. Дори и проблемът да не е прикрепен към отговорна страна в момента на подаването му, самото даване на гласност може да бъде решение. След качени снимки в “Гражданите”, за които медиите писаха, има 2 документирани уволнения. Едното на вътрешния секретар на Министерство на вътрешните работи за преминаване през затревени трамвайни линии. Линк към статията.</string>
	<key>Нарушителят вижда ли данните на подателя?</key>
	<string>Когато става дума за глоба с акт, Вие, полицаят и нарушителят имате данните си един на друг. Когато глобата е с фиш, нарушителят не вижда данните Ви, но чл. 34 (1) от административнопроцесуален кодекс “Административният орган осигурява на страните възможност да преглеждат документите по преписката, както и да си правят бележки и извадки или - според техническите възможности - копия за тяхна сметка.”</string>
	<key>Каква е процедурата след подаване на сигнал с опция “Изпрати до КАТ”?</key>
	<string>В България действа законодателство, което изисква снимка, писмени показания и в някои случаи подпис на акт. От 02.2015 година наблюдаваме, че нещата стоят по следния начин - в София за сигнали за неправилно паркиране в повечето случаи не се налага да се ходи в Пътна полиция. Изисква се снимка и сведение, което получавате по имейл след подаване на сигнала. Носим сведението и снимките в Пътна полиция всяка седмица, за да Ви спестим време. До процеса със сведението стигнахме след 1 г. работа на гражданите, Пътна полиция и екипа на “Гражданите”. Глобата е фиш, не се отнемат точки и не се оспорва от нарушител. Ако има оспорване от нарушителя, ще бъдете повикани за подпис на акта. За нарушения в движение често се взимат точки на нарушителя. В този случай ще бъдете повикани за подпис на акт, който може да бъде обжалван. Може да бъде и в присъствието на нарушителя. В другите градове забелязваме, че по-често викат подателите за подпис на акт.</string>
	<key>Как да разбера дали има издадена глоба по мой сигнал?</key>
	<string>Всеки месец лично взимаме обратна връзка от Пътна полиция за сигналите на територията на София. След това статусите на сигналите се отразяват в профила Ви. Средно 3 месеца отнема от сигнал до глоба. Може да отнеме и до 8 месеца. Това често е заради разликата в адресната регистрация, където се изпраща призовката на нарушителя и реалния му адрес.</string>
	<key>Колко снимки могат да се качат към един сигнал?</key>
	<string>Към един сигнал могат да се качат до 5 снимки.</string>
	<key>Как да разбера дали съм сниман в нарушение?</key>
	<string>Попълнете регистрационния номер на колата Ви в “Радар” и получавайте известия всеки път, когато е снимана в нарушение и качена в “Гражданите”. След това използвайте опцията “Извини се”, за да изпратите извинение до човека, качил снимката. Ако извинението Ви е одобрено, снимката се скрива автоматично.</string>
	<key>Какво означава “Обществен ред”?</key>
	<string>Този сигнал е за всичко, което е в разрез с обществените норми на поведение.</string>
	<key>Какво означава “Паркове и зелени площи”?</key>
	<string>Този сигнал е за проблеми, свързани с паркове и зелени площи.</string>
	<key>Какво означава “Детски площадки”?</key>
	<string>Този сигнал е за опасни и замърсени детски площадки.</string>
	<key>Какво означава “Сгради и съоръжения”?</key>
	<string>Този сигнал е за опасни сгради, незаконни строежи и проблемни съоръжения.</string>
	<key>Какво означава “ВиК, Топлофикация, Електрификация и др.”?</key>
	<string>Този сигнал е за повреди и аварии, свързани с вода, ток, парно и др.</string>
	<key>Какво означава “Улици и тротоари”?</key>
	<string>Този сигнал е за повредени улици и тротоари.</string>
	<key>Какво означава “Боклук/Сметище”?</key>
	<string>Този сигнал е за незаконно сметище или непочистени отпадъци, които са изхвърлени на улицата.</string>
	<key>Какво означава “Бездомно животно”?</key>
	<string>Така съобщавате за бездомни животни или трупове на животни. Сигналите се обработват от “Екоравновесие” на територията на столицата.</string>
	<key>Какво означава “Улично осветление”?</key>
	<string>Избирайки категорията “Улично осветление” докладвате за неработеща лампа или изгоряла крушка на улично осветление.</string>
	<key>Какво е означава “Неправилно паркиране”?</key>
	<string>Неправилно паркиране по смисъла на ЗДвП.</string>
	<key>Какво означава “Бездомен в беда”?</key>
	<string>Този сигнал е за бездомни хора, намиращи се в беда. С избирането на този сигнал ще съобщите на дадения инспектор, че има бездомен, нуждаещ се от помощ. В студените зимни вечери мобилни екипи прибират бездомните хора в помощен център, за да не измръзнат.</string>
	<key>Мога ли да изпратя сигнал с клип, заснет с видеорегистратор?</key>
	<string>Да! За момента това е възможно само през уеб версията и става по следния начин. Предварително качвате видеото в YouTube. Избирате категория “Пътно нарушение”, описвате сигнала и в полето “Можете да добавите линк към видео в YouTube” слагате линк на видеото.</string>
	<key>Какво става при промяна на статуса на мой сигнал?</key>
	<string>Ако статуса на сигнала Ви бъде променен, ще получите известие в платформата. Вие също можете да променяте статуса на сигнала си и да го приключите, ако своевременно проблемът е решен.</string>
	<key>Как да избера адрес на сигнала?</key>
	<string>Можете да посочите адреса на дадения сигнал чрез въвеждане на точен адрес или чрез отбелязване на картата.</string>
	<key>Как да търся в платформата?</key>
	<string>Използвате търсачката по ключова дума/регистрационен номер или филтрите по класация/статус/вид. Филтри по класация: последни сигнали, най-гледани, най-подкрепяни и избор на редактора. Филтри по статус: извинил се, глобен, разрешен, обработва се, изпратен до КАТ, изпратен или качен. Филтри по вид: Бездомно животно, Отпадъци, Бездомни в беда, Улично осветление, Неправилно паркиране, Изоставен автомобил и други - вид вандализъм, неокосена трева, опасно дърво и др</string>
	<key>Какво означава “Друг сигнал”?</key>
	<string>В тази секция можете да подадете всякакви други сигнали, за които няма категория.</string>
	<key>Какви сигнали мога да подавам?</key>
	<string>Към момента можете да подавате сигнали за неправилно паркиране, пътни нарушения, изоставени автомобили, повредена инфраструктура, боклуци, бездомни хора в беда, неработещо улично осветление, опасни сгради и строежи, паркове и детски площадки, бездомни животни, обществен ред и други.</string>
	<key>Как да подам сигнал до община?</key>
	<string>1. Избирате една или повече снимки на съответния проблем. 
2. Избирате категория. 
3. Описвате сигнала. 
4. Избирате дата и час на заснемане на проблема. 
5. Въвеждате/потвърждавате данни за контакт (имена, телефон и имейл) 
6. Изпращате и след това сигналът Ви отива в съответната община.</string>
	<key>Как да подам сигнал до Пътна полиция?</key>
	<string>За целта качете снимка в мобилното приложение или уебсайта “Гражданите”. Изберете типа нарушение и активирайте опцията за изпращане до Пътна полиция. След това ще получите инструкции и процедура по имейл. За момента, за да се обработи един сигнал в Пътна полиция, трябва да попълните сведение онлайн или да се явите за подпис на акт в Пътна полиция или районно управление.</string>
	<key>Мога ли да използвам платформата “Гражданите” без регистрация?</key>
	<string>Да, но само уеб версията и с ограничена функционалност. Можете да разглеждате сигналите, но не и да подавате или подкрепяте сигнали. За мобилното приложение се изисква регистрация.</string>
	<key>Как да се регистрирам?</key>
	<string>Можете да направите регистрация както с имейл, така и Facebook профил.</string>
	<key>Как се финансира платформата &quot;Гражданите&quot;?</key>
	<string>Повече от 2 г. екипът се финансираше ежемесечно с лични средства, за да може “Гражданите” да функционира.

- Мониторинг на фирмени автомобили
На база генерираните сигнали за пътни нарушения хора и фирми започнаха да използват опцията за извинение. Така създадохме услугата “Мониторинг на фирмени автомобили”, която е уникална и фирмите я използват за вътрешен контрол над водачите си. Това е бизнес услуга със социална насоченост, която фирми с изразена социална отговорност използват, за да подобрявят кутлурата на пътя в бизнес средата си.

- Авто-застрахователи
Сигналите за пътни нарушения в “Гражданите” са отправна точка за това колко е рисков един автомобил. В платформата има автомобили, които са заснети в нарушение над 10 пъти и това е индикатор, че техните водачи са по-рискови от останалите участници в движението по пътищата. Когато авто-застрахователите разполагат с подобна информация, те могат да откажат или предложат по-висока цена на услугите, които предлагат. Платформата &quot;Гражданите&quot; предлага &quot;Риск Мениджмънт&quot; инструмент на застрахователните компании, чрез който могат да бъдат определяни премиите на водачите на МПС-та.

- Software-as-a-Service (SaaS) за Общини и други институции
След повече от 2 години работа с представители на институции, видяхме следните проблеми: сигналите изминават дълъг път (до 2 месеца) от подател до правилния човек в конкретната институция през системи, през различни отдели, ползва се хартия, куриерски услуги и др. Освен това никой по веригата няма достъп в реално време до това какъв е прогресът на сигнала и това води до неефективен и скъпоструващ процес. Стъпка по стъпка се роди решение за получаване и обработка на граждански сигнали за институции. Дигитализирахме и отворихме процеса за гражданите, премахнахме куриерите и хартията. Сигналът пристига при точния човек за секунди, всички отдели от институцията имат достъп в реално време до прогреса на сигнала, а ръководството на институцията има достъп до панел, който показва кой служител над какво работи. Също така решението включва и известия, чрез които институциите могат да известяват гражданите за различни събития.</string>
	<key>Как да снимам правилно проблем, за да е валиден сигналът?</key>
	<string>Колкото по-ясно е заснет даден проблем и колкото повече снимки има, толкова по-лесно и бързо ще бъде разрешен. В приложението &quot;Гражданите&quot;, можете да заснемете до 5 снимки, както и да прикачите видео чрез линк от YouTube. Когато изпращате сигнали за пътно нарушение и неправилно паркиране, е важно нарушението и регистрационният номер на МПС-то да бъдат видими на снимките или видеото.</string>
	<key>Моят сигнал не попада в нито една от изписаните категории. Мога ли да подам сигнал за ...?</key>
	<string>Да, можете да подадете сигнал за всеки един проблем във вашия град, независимо дали попада в някоя от предефинираните категории. Просто изберете &quot;Друг сигнал&quot;.</string>
	<key>Мога ли да подам сигнал за проблем в моя град?</key>
	<string>Да, можете да подадете сигнал за проблем във всеки град на територията на Република България! Ако вашата община е регистрирана в платформата &quot;Гражданите&quot;, отговорният служител или фирма ще получи вашия сигнал и ще може да Ви даде директна обратна връзка. Ако не е регистрирана, сигналът Ви ще бъде юридически оформен и изпратен до съответната институция по надлежния ред с покана за регистрация в при нас. Вашата община може да започне да използва платформата &quot;Гражданите&quot; за общини и институции напълно безплатно!</string>
</dict>
</plist>
